@font-face {
  font-family: 'JF Flat';
  src:
    url('../fonts/JF-Flat-regular.woff2') format('woff2'),
    url('../fonts/JF-Flat-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}