body {
  background: #f6704b;
  display: flex;
  justify-content: center;
  font-family: "JF Flat", sans-serif;
  font-size: 18px;
}

.container {
  max-width: 380px;
  width: 95%;
}

.accordion {
  padding: 25px 0;
}

.accordion__btn {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 25px 20px;
  color: inherit;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.accordion__img {
  margin-right: 55px;
}

.accordion__text {
  font-size: 24px;
  line-height: 1;
}

.accordion__content {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.accordion__content p {
  padding: 25px;
}

.accordion__item:nth-child(1) {
  background-color: #620808;
  color: #ffe9c1;
}

.accordion__item:nth-child(2) {
  background-color: #a53f3f;
  color: #f4ce74;
}

.accordion__item:nth-child(3) {
  background-color: #f4ce74;
  color: #620808;
}

.accordion__item:nth-child(4) {
  background-color: #ffe9c1;
  color: #a53f3f;
}

.accordion__item:nth-child(5) {
  background-color: #d5441c;
  color: #ffe9c1;
}

.accordion__item.active .accordion__content {
  box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.25);
}